<% let name=dataComponent?.name || "" ; let avatar=dataComponent?.avatar || "" ; let
    description=dataComponent?.description || "" ; let linkcv=dataComponent?.linkcv || "" ; if (dataComponent) {
    dataComponent.isDemo=true; } %>
    <div class="blog-table">
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">View Result</h5>
            </div>
            <div class="card-body">
                <%- include('../components/c_portfolio', { portfolio: dataComponent }) %>
            </div>
        </div>
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">Highlight Code</h5>
            </div>
            <div class="card-body">
                <div class='code-frame'>
                    <textarea cols='30' id='source-code' name='' rows='10'>
                    <%- include('../components/c_portfolio', { portfolio: dataComponent }) %>
                </textarea>
                </div>
            </div>
        </div>
        <div class="card shadow border-0 mb-7">
            <div class="card-header">
                <h5 class="mb-0">Edit Value</h5>
            </div>
            <div class="card-body">
                <form action="/admin/components/<%= componentName %>" method="post">
                    <div class="form-group mb-3">
                        <label> Name </label>
                        <input type="text" class="form-control" name="name" placeholder="Name" value="<%= name %>"
                            required />
                    </div>

                    <div class="form-group mb-3">
                        <label for="" class="mb-2">Avatar</label>
                        <div class="preview-image <% !avatar ? 'disable' : '' %>">
                            <img src="<%= avatar %>" alt="">
                        </div>
                        <div id="thumbnail-btn" class="btn btn-primary">Select image...</div>
                        <input type="text" id="thumbnail-input" name="avatar" value="<%= avatar %>" />
                        <small id="fileHelpId" class="form-text text-muted">image size below 10mb</small>
                    </div>

                    <div class="form-group mb-3">
                        <label for="summary">Description</label>
                        <textarea class="form-control" name="description" id="description"
                            rows="3"><%= description %></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="summary">Link Cv</label>
                        <input type="text" class="form-control" name="linkcv" id="linkcv" value="<%= linkcv %>" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="Submit" value="Update" class="btn btn-primary form-control" />
                    </div>
                </form>
            </div>
        </div>
        <div id="editor-content" style="display: none;" data-key="<%= process.env.FLMNGR_KEY %>"></div>
    </div>