<% if (popularArticle) { %>
<%
    let title = popularArticle?.title || "";
    let image = popularArticle?.image || "";
    let author = popularArticle?.author || "";
    let createdAt = popularArticle?.createdAt || "";
    let link = popularArticle?.link || "#";
    let modifyClass = popularArticle?.isDemo ? 'demo' : '';

    let date=new Date(createdAt);
    let currentDay=date.getDate(); 
    let currentYear=date.getFullYear(); 
    let currentMonth=date.toLocaleString('default', { month: 'short' }); 
%>
<section class="components popular-article sidebar-box <%= modifyClass %>">
    <h3 class="sidebar-heading">Popular Articles</h3>
    <div class="block-21 mb-4 d-flex">
        <a target="blank" class="blog-img mr-4" style="background-image: url('<%= image %>');"></a>
        <div class="text">
            <h3 class="heading"><a href="<%= link %>"><%= title %></a></h3>
            <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span> <%= currentDay %> <%= currentMonth %>,<%= currentYear %> </a></div>
                <div><a href="#"><span class="icon-person"></span> <%= author %> </a></div>
            </div>
        </div>
    </div>
</section>
<%}%>