<div class="topic">
    <div class="topic_list js-topic-carousel">
        <div class="topic__item">
            <img src="<%= process.env.IMAGE_PREFIX %>/html-css.jpg" alt="">
            <span>HTML Css</span>
        </div>
        <div class="topic__item">
            <img src="<%= process.env.IMAGE_PREFIX %>/javascript.png" alt="">
            <span>Javascript</span>
        </div>
        <div class="topic__item">
            <img src="<%= process.env.IMAGE_PREFIX %>/sitecore.jpg" alt="">
            <span>Sitecore</span>
        </div>
        <div class="topic__item">
            <img src="<%= process.env.IMAGE_PREFIX %>/dotnet.png" alt="">
            <span>DotNet</span>
        </div>
        <div class="topic__item">
            <img src="<%= process.env.IMAGE_PREFIX %>/reactjs.png" alt="">
            <span>ReactJs</span>
        </div>
    </div>
</div>