<div class="list-post">
    <% posts.forEach((post, index)=> { %>
        <% 
            let date=new Date(post.createdAt); let currentDay=date.getDate(); 
            let currentMonth=date.toLocaleString('default', { month: 'short' }); 
        %>
            <div class="post_section">
    
                <div class="post_date">
                    <%= currentDay %><span>
                            <%= currentMonth %>
                        </span>
                </div>
                <div class="post_content">
                    <div class="post_content-title">
                        <h2>
                            <a href="/post/<%= post._id %>">
                                <%= post.title %>
                            </a>
                        </h2>
                    </div>
                    <div class="post_content-information">
                        <strong>Author:</strong>
                        <%= post.author %> | <strong>Category:</strong>
                            <a href="/tag/<%= post.tag %>">
                                <%= post.tag %>
                            </a>
                            |
                            <strong>CreatedAt: </strong>
                            <%= date.toLocaleString() %>
                    </div>
                    <div class="post_content-body">
                        <% if (post.thumbnail) { %>
                            <a href="#" target="_parent">
                                <img src="/images/thumbnails/<%= post.thumbnail %>" alt="image" />
                            </a>
                            <% } %>
    
                                <div class="post_content-desc">
                                    <div>
                                        <%= post.summary %>
                                    </div>
                                </div>
    
                                <p>
                                    <span>24 Comments</span> | <a href="#">Continue reading...</a>
                                </p>
                    </div>
                </div>
                <div class="cleaner"></div>
            </div>
    <% }) %>
    <%- include('pagination', {totalPage: totalPage, page: currentPage}) %>
</div>