<div class="list-post row pt-md-4">
    <% posts.forEach((post, index)=> { %>
        <% 
            let date=new Date(post.createdAt);
            let currentDay=date.getDate(); 
            let currentMonth=date.toLocaleString('default', { month: 'short' }); 
            let urlImage = 'https://placehold.co/150x150';
            if ( post.thumbnail ) {
                urlImage = '/images/' + post.thumbnail;
            }
        %>
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <a href="/post/<%= post._id %>" class="img img-2" style="background-image: url('<%= urlImage %>');"></a>
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2"><a href="/post/<%= post._id %>"><%= post.title %></a></h3>
                    <div class="meta-wrap">
                        <p class="meta">
                            <span><i class="icon-calendar mr-2"></i><%= currentDay %>, <%= currentMonth %></span>
                            <span><a href="/tag/<%= post.tag %>"><i class="icon-folder-o mr-2"></i><%= post.tag %></a></span>
                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                        </p>
                    </div>
                    <p class="mb-4"><%= post.summary %> </p>
                    <p><a href="/post/<%= post._id %>" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                </div>
            </div>
        </div>
    <% }) %>
    <%- include('pagination', {totalPage: totalPage, page: currentPage}) %>
</div>