<% if (totalPage > 1) { %>
<% 
    let pathName = isAdmin ? '/admin' : '';
    let p = parseInt(page);
    let prevBtn = p > 1 ? p - 1 : p; 
    let nextBtn = p < totalPage ? p + 1 : p;

    let isPrev = (p - 1 == 0) ? 'disable' : '';
    let isNext = (p + 1 > totalPage) ? 'disable' : '';
%>

<div class="pagination <%= page %>">
    <a class="<%=  isPrev %>" href="<%= pathName %>/p/<%=prevBtn%>">&laquo;</a>
    <% for (let i = 1; i <= totalPage; i++ ) { %>
        <% let isActive = (page == i) ? 'active' : '' %>
        <a href="<%= pathName %>/p/<%= i %>" class="<%= isActive %>"> <%= i %> </a>
    <% } %>
    <a class="<%=  isNext %>" href="<%= pathName %>/p/<%= nextBtn %>">&raquo;</a>
</div>
<% } %>