<%
    let urlImage = 'https://placehold.co/150x150';
    if ( posts?.author?.avatar ) {
        urlImage = process.env.IMAGE_PREFIX + '/' + author.avatar;
    }
%>
<div class="detail-post">
    <div class="detail-post__content pt-md-4">
        <h1 class="mb-5">Name: <span><%= posts.title %></span></h1>

        <div class="detail-post__body">
            <% if (posts.content) { %>
                <%- posts.content %>
            <% } else { %>
                <%- include('../../components/no-result') %>
            <% } %>
        </div>

        <% if (posts.content) { %>
            <%- include('../../components/c_about-author') %>
        <% } %>
    </div>
    <%- include('../../components/c_related-post') %>
</div>