<%
    let urlImage = 'https://placehold.co/150x150';
    if ( data?.author?.avatar ) {
        urlImage = '/images/' + author.avatar;
    }
%>
<div class="detail-post">
    <div class="detail-post__content row pt-md-4">
        <h1 class="mb-5"><%= data.title %></h1>

        <div class="detail-post__body">
            <% if (data.content) { %>
                <%- data.content %>
            <% } else { %>
                <%- include('../../components/no-result') %>
            <% } %>
        </div>

        <% if (data.content) { %>
        <div class="about-author d-flex p-4 bg-light">
            <div class="bio mr-5">
                <img src="<%= urlImage %>" alt="Image placeholder" class="img-fluid mb-4">
            </div>
            <div class="desc">
                <h3>George Washington</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                    voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                    similique,
                    inventore eos fugit cupiditate numquam!</p>
            </div>
        </div>
        <% } %>
    </div>
    <%- include('../../components/related-post') %>
</div>