<div class="main-post">
    <h1 class="title-main">
        <img src="<%= process.env.IMAGE_PREFIX %>/gym.png" alt="">
        <span>Popular Article</span>   
    </h1>

    <div class="home-component">
        <%- include('../../components/c_popular-articles.ejs') %>
    </div>
    
    <h1 class="title-main">
        <img src="<%= process.env.IMAGE_PREFIX %>/gym.png" alt="">
        <span>Topic</span>   
    </h1>

    <div class="home-component">
        <%- include('../../components/c_topic.ejs') %>
    </div>
    
    <h1 class="mb-4 logo-mobile"><a href="index.html"
        style="background-image: url(<%=process.env.IMAGE_PREFIX%>/fire.jpg);">Wainii <span>Blogger</span></a></h1>
    <h1 class="title-main">
        <img src="<%= process.env.IMAGE_PREFIX %>/gym.png" alt="">
        <span>Top Post</span>   
    </h1>
    <div class="home-component">
        <%- include('../../components/c_list-post') %>
    </div>
    
</div>